<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.forgr.capacitor.uploader">

    <application>
        <service
            android:name="net.gotev.uploadservice.UploadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </service>

        <service
            android:name="net.gotev.uploadservice.UploadJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name="net.gotev.uploadservice.UploadServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="net.gotev.uploadservice.broadcast.status" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
